__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

.ipynb_checkpoints/

data/raw/
data/interim/
data/processed/
artifacts/models/*.pkl
artifacts/reports/*.pdf
artifacts/figures/*.png
artifacts/logs/

.env
.env.*

.DS_Store
Thumbs.db

.vscode/
.idea/